/* ---- Gebo Admin tamarillo theme ---- */

    .navbar-inner {
		background: #D24726;
		background: -moz-linear-gradient(top, #D24726 0%, #D24726 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D24726), color-stop(100%,#D24726));
		background: -webkit-linear-gradient(top, #D24726 0%,#D24726 100%);
		background: -o-linear-gradient(top, #D24726 0%,#D24726 100%);
		background: -ms-linear-gradient(top, #D24726 0%,#D24726 100%);
		background: linear-gradient(top, #D24726 0%,#D24726 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D24726', endColorstr='#D24726',GradientType=0 );
    }
    .navbar .nav > li > a {
        color: #f4d4d7;
    }
    .navbar .nav > li:hover > a {
        color:#fff;
    }
    .navbar .nav .active > a, .navbar .nav .active > a:hover {
        background: #94252e !important;
    }
    .navbar .divider-vertical {
		border-left-color:#D24726;
        border-right-color:#bd2f3a;
    }
    .dropdown-menu li > a:hover, .dropdown-menu .active > a,
	.dropdown-menu .active > a:hover,
    .nav-list > .active > a, .nav-list > .active > a:hover {
        background: #B83E21 !important;
    }
	.ui-menu .ui-menu-item a.ui-state-hover,
    .ui-menu .ui-menu-item a.ui-state-active {
        background: #94252e !important;
        border-color:#94252e !important;
    }
    
	.nav-list > li > a {color:#333;}
    .sidebar .nav-list > .active > a, .nav-list > .active > a:hover {
		color: white;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
		background-color: #D24726;
		font-weight:bold;
	}

	.table thead th {background-color:#f6eeef !important}
	.dataTables_wrapper th.sorting_asc,.dataTables_wrapper th.sorting_desc {background-color:#ead8da !important}