<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<http pattern="/login" security="none" />
	<http pattern="/img/**" security="none" />
	<http pattern="/css/**" security="none" />
	<http pattern="/js/**" security="none" />
	<http pattern="/lib/**" security="none" />
	<http pattern="/font/**" security="none" />
	<http pattern="/image/**" security="none" />
	<http auto-config="true" access-denied-page="/accessDenied">
		<intercept-url pattern="/**" access="ROLE_USER,ROLE_ADMIN" />
		<intercept-url pattern="/system/**" access="ROLE_ADMIN" />

		<form-login login-page="/login" default-target-url="/service/requests"
			authentication-failure-url="/login?error=true" />

		<logout logout-success-url="/login" /> <!-- delete-cookies="JSESSIONID" -->

		<session-management>
		<!-- 	<concurrency-control max-sessions="1"
				error-if-maximum-exceeded="true" /> -->
		</session-management>

	</http>

	<!-- <http realm="Project Realm" auto-config="true"> <intercept-url pattern="/**" 
		access="ROLE_ADMIN" /> </http> -->

	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select username,password,status from user where username=? and status=1"
				authorities-by-username-query=" select 
		u.username, r.role_name from user u, user_role ur,role r where u.user_id 
		= ur.user_id and ur.role_id=r.role_id and u.username =? " />
		</authentication-provider>
	</authentication-manager>

	<!-- <authentication-manager>
		<authentication-provider>
			<password-encoder hash="md5" />
			<user-service>
				<user name="system" password="21232f297a57a5a743894a0e4a801fc3"
					authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager> -->

</beans:beans>